
@media (max-width: 1300px) {
    .nav_items{
        padding-left:0.9rem;
    }
    .four_main{
        height:28rem !important;
        padding:1.75rem !important;
    }

}


@media (max-width: 1200px) {
    #nav_items_container{
        display:none ;
    }
    #hamburger{
        display:flex;
        color:white;
    }
    .north_east_arrow{
        right:52% !important;
        height:2.8rem !important;
    }
    #north_east_image{
        max-width: 88% !important;
    }
    .four_para_container{
        display: flex !important;
        align-items:center !important;
    }
    .four_main{
        height:24rem !important;
        padding:2rem !important;
    }
    .four_para_container{
        padding:0rem !important;
    }
    .even,.odd{
        padding:0.7rem 0rem !important;
    }
}

@media (max-width: 1100px) {
    #text_engagement{
        /* padding-top:0 !important; */
        font-size:calc(1rem + 1vw) !important;
    }
}




@media (max-width: 992px) {
    .north_east_arrow{
        right:30% !important;
        height:2.6rem !important;
    }
    #north_east_image{
        max-width: 84% !important;
    }
    .four_main{
        padding:1.5rem !important;
    }
}
@media (max-width: 800px) {
    .north_east_arrow{
        right:30% !important;
        height:2.6rem !important;
    }
    #north_east_image{
        max-width: 84% !important;
    }
    .four_main{
        padding:1.2rem !important;
    }
}
@media (max-width: 767px) {
    #hero_down_arrow{
        padding-bottom:0 !important;
    }
    #second{
        padding-top:0;
    }
    #first{
        min-height:80vh;
    }
    #ai_sol_one{
        display:flex !important;
    }
    #ai_sol_two{
        display:none !important;
    }
    #three{
        width:100% !important;
    }
    #three_text_container{
        padding:3rem 2.5rem !important;
        width:100% !important;
        margin-top: -2rem !important;
    }
    #three_text_2{
        font-size:14px;
    }
    #three_image{
        display:none;
    }
    #three_image_mobile{
        display:flex !important;
    }
    #forty_one_container{
        height:16rem !important;
    }
    #expertise_text{
        font-size:28px !important;
    }
    .four_heading{
        text-align: center;
    }
    .four_image_container img{
        max-width: 36% !important;
    }
    .four_image_container{
        display:flex;
        justify-content: center;
        padding-bottom:1rem;
    }
    .four_para_content{
        padding-top:1rem !important;
        text-align:center !important;
        font-size: 10px !important;
        line-height: 14px !important;

    }
    .four_main{
        height:28rem !important;padding: 1rem !important;
    }
    .four_para_container{
        padding:0 !important;
    }
    .even,.odd{
        padding:1rem 0rem !important;
    }

}
@media (max-width: 768px) {
    .four_main{
        height:36rem !important;
    }
    .four_heading{
        line-height: 1 !important;
    }
    .five_heading{
        border-left: 2px solid #ACB3F0;padding-left:3rem;
    }
    .five_para{
        padding-top:0 !important;padding-bottom:2rem !important;line-height: 16px !important;font-size:12px !important;
    }
    .five_heading{
        padding-top:4rem !important;
    }
    .timeline-content::before{
        top:50% !important;
    }
    #six_sub_text{
        text-align: center !important;
    }
    #six_partenership_container{
        justify-content: center ;
    }
    .six_small_container{
        padding:1.9rem !important;
    }
    .six_number_below{
        font-size:16px !important;font-weight: 550 !important;
    }
    #six_main_1{
        padding-right:0 !important;padding-bottom:2rem !important;
    }
    #six_main_2{
        padding-left:0 !important;
    }
    .six_text{
        font-size:12px !important;
    }
    #six{
        background-image:url('pictures/background_six_mobile.png') !important;
        background-size: 100% 100% !important;
    }
    #six_main{
        padding:2rem 0rem !important;
    }
    .mobile_off{
        display:none !important;
    }
    #seven{
        padding:1.5rem 0rem !important;
    }
    #seven_main{
        padding:1.5rem !important;width:90% !important;
    }
    #seven_form{
        display:block !important;
    }
    #form_1,#form_2{
        width:100% !important;padding:0 !important;
    }
    #form_2{
        padding-top:1rem !important;
    }
    #seven_about_project_container{
        padding-top:1rem !important;
    }
    #form_bottom_text{
        display:none !important;
    }
    #form_bottom_text_container{
        justify-content: center !important;
    }
    #tail_image_container{
        justify-content: center;
    }
    #tail_col_1{
        padding:0 !important;display: flex;
        flex-direction: column;align-items: center;
    }
    #tail_text_1{
        text-align: center;padding-top:3rem !important;
    }
   
    #tail_col_1,#tail_col_2_main,#tail_contact{
        padding:0 !important;
    }
    #tail_col_2_main{
        text-align: center !important;padding-top:2rem !important;
    }
    #tail_contact{
        align-items: center !important;padding-top:3rem !important;

    }
    #tail_col_2_main a{
        padding-top:0.8rem !important;
    }
    #tail_contact_2{
        letter-spacing:2px !important;
    }
    #tail_privacy{
        display:none !important;
    }
    #tail_rights{
        padding:0 !important;text-align: center !important;
    }
    #tail_privacy_container{
        justify-content: center !important;

    }
}