  body{
    font-family: "Tektur", sans-serif;
    background-color: #0E0F1F;position:relative;
  }


  #first {
    position: relative;
    min-height: 100vh;
    background-image: url('pictures/hero_background.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 66% 33%;
  }

  #first_space {
    padding-top: 40px;
  }

  #nav_bar {
    /* position:fixed; */
    z-index:899;
    height: 58px;
    width: 100%;
  }

  #nav_bar_container {
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav_bar_logo {
    max-width: 80%;
  }

  #nav_items_container {
    display: flex;
    align-items: center;
  }

  .nav_items {
    padding-left: 1.5rem;
    font-size: calc(0.4rem + 0.4vw);
    font-weight: 300;
  }
  .nav_items a{
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
  }

  #hamburger{
    display:none;
  }

  .button_like {
    background-color: #0E0F1F;
    padding: 0.2rem 0.8rem;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    display:flex;
    position:relative;
    z-index:2;

  }
  .button_like_text {
    text-decoration: none;
    display:flex;
  }

  #nav_contact{
    padding-right:1rem;
  }

  .button_wrapper{
    background-image:linear-gradient(to left, #6475B7, #40B6E8, #5BC1AC);padding:1px;position:relative;z-index: 1;border-radius:20px;width:fit-content;margin:auto
  }

  #hero_text{
    text-align:center;font-size:calc(1.4rem + 1.4vw);font-weight: 700;padding-top: 17rem;width:55%;margin:auto;
     
  }

  .colourful_text{
    background: 
    linear-gradient(to right, #6475B7 3%, #40B6E8 37%, #5BC1AC 60%);padding-bottom:4rem;

    -webkit-background-clip: text;
    color: transparent;   
  }

  #dive_deeper_button{
    background: 
    linear-gradient(to right, #6475B7 3%, #40B6E8 37%, #5BC1AC 60%);

    -webkit-background-clip: text;
    color: transparent; 
    letter-spacing: 3px;font-size:calc(0.4rem + 0.4vw)
  }

  #dive_deeper_button_like{
    padding:0.7rem 1.2rem
  }

  #hero_down_arrow{
    padding-top:3rem;padding-bottom:4rem;
  }

  .hero_down_arrow_inner{
    height:3rem;width:2rem;margin:auto;
  }

  #explore_button_like{
    padding:0.7rem 1.2rem

  }
  #explore_button{
    background: 
    linear-gradient(to right, #6475B7 3%, #40B6E8 37%, #5BC1AC 60%);

    -webkit-background-clip: text;
    color: transparent; 
    letter-spacing: 3px;
  }

  #explore_1{
    margin:0;
  }
  #second_spacing{
    padding-top:1rem;display:flex;position:relative;
  }
  .north_east_arrow{
    height:3rem;width:4.7rem;padding-left:1rem;position:absolute;bottom:0;right:60%;
  }
  #north_east_image{
    max-width: 95% !important;
  }
  #ai_sol_one{
    display:none;
  }

  #second{
    width:85%;margin:auto;padding-top:5rem
  }
  .second_p{
    padding:0;
      padding-top:3rem;
  }
  #second_1_main{
      height:19rem;width:90%;border-radius: 0.5rem;margin:auto;padding:0rem 1rem;
  }
  #text_engagement{
      font-size:calc(1.5rem + 1.5vw);font-weight:500;padding-bottom:2rem;
      /* padding-top:2rem; */
  }
  #second_1_middle_text{
      font-size:calc(0.45rem + 0.43vw);font-weight:300;letter-spacing:1px;font-family: Roboto Mono;color:white;
  }
  #second_spacing_2{
      padding-bottom:2.5rem
  }
  .second_2{
      height:19rem;width:90%;border-radius: 25px;margin:auto;background-image: url('pictures/adam.png');background-size: cover;
  }
  .second_2_inner{
      text-align:center;display:flex;width:100%;height:100%;letter-spacing: 2px;font-size: calc(0.7rem + 0.7vw);font-weight:500;align-items:center;justify-content: center;color:white;
  }
  .second_3{
      height:19rem;width:93%;border-radius:25px;margin:auto;background-color:#5BC1AC;padding:2rem;display:flex;flex-direction: column;color:white;
  }
  .second_3_a{
      color:white;font-size:1.3rem;
  }
  .second_3_b{
      padding-top:2rem;font-size:1.5rem;
  }
  .second_3_c{
      display:flex;height:100%;align-items: flex-end;
  }
  .second_3_d{
      text-decoration:none;color:white;cursor:pointer;font-family: Roboto Mono;font-size:0.8rem;
  }
